.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote-box {
  background-color: white;
  width: 35rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  // border: 1px solid black;
  #text {
    font-weight: 400;
    text-align: center;
  }
  #author {
    font-weight: 300;
    text-align: right;
  }
}

.user-section {
  display: flex;
  justify-content: space-between;
  .icon-quote {
    margin-right: 0.5rem;
    height: 100%;
  }
  #new-quote {
    padding: 0.6rem;
    font-size: 1rem;
    // border: 1px solid black;
    // border-radius: 3px;
    outline: none;
    border: none;
    color: white;
  }
}
